<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764882953773-hprmev6vu07ustdu2na8rrj9c52vnndc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764882953773-hprmev6vu07ustdu2na8rrj9c52vnndc</string>
	<key>API_KEY</key>
	<string>AIzaSyBnoMYimZYW1YZB1UkPYElC7wZQJ4uSGIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>764882953773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BradleyCable.TOY</string>
	<key>PROJECT_ID</key>
	<string>toy-app-80345</string>
	<key>STORAGE_BUCKET</key>
	<string>toy-app-80345.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764882953773:ios:88a587076f1808a4493aa4</string>
</dict>
</plist>